<div>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Gift name *</legend>
    <input type="text" class="input" placeholder="Type here" />
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Link</legend>
    <input type="text" class="input" placeholder="Type here" />
    <p class="label">Optional</p>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Your bio</legend>
    <textarea class="textarea h-24" placeholder="Bio"></textarea>
    <div class="label">Optional</div>
  </fieldset>
</div>
