<details #dropdownMenu class="dropdown dropdown-end" [open]="isOpen()">
  <summary
    class="btn btn-ghost btn-sm h-auto min-h-0 px-2 py-1 text-xs font-medium text-base-content/50"
    aria-label="Сортувати подарунки"
    (click)="toggleMenu()"
  >
    Сортувати
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.8"
      class="size-4 inline-block"
    >
      <path d="m15 4 3-3 3 3" />
      <path d="M18 1v22" />
      <path d="m9 20-3 3-3-3" />
      <path d="M6 23V1" />
    </svg>
  </summary>

  <ul
    class="menu dropdown-content z-10 mt-1 w-44 rounded-box border border-base-300 bg-base-100 p-2 shadow-lg"
  >
    <li>
      <button type="button" (click)="onSortSelected(SortBy.PRICE_DESC)">Ціна (за спаданням)</button>
    </li>

    <li>
      <button type="button" (click)="onSortSelected(SortBy.PRICE_ASC)">Ціна (за зростанням)</button>
    </li>
  </ul>
</details>
