// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

.meowlist-dialog {
  @include mat.dialog-overrides(
    (
      container-color: var(--bg-base-100),
      container-shape: 24px,
      container-elevation-shadow: 0 18px 50px rgba(63, 54, 88, 0.16),
      headline-padding: 20px 20px 0,
      content-padding: 16px 20px 0,
      with-actions-content-padding: 16px 20px 0,
      actions-padding: 16px 20px 20px,
    )
  );

  .mat-mdc-dialog-surface {
    border: 1px solid #ebe7f2;
    overflow: hidden;
  }
}
