<footer class="border-t border-base-300 bg-base-200/50">
  <div
    class="mx-auto flex w-full max-w-7xl flex-col items-center justify-between gap-4 px-4 py-6 text-center sm:px-6 md:flex-row md:text-left lg:px-8"
  >
    <a href="/" class="flex items-center gap-2">
      <img src="/assets/lockup.svg" alt="MeowList Logo" class="object-contain" />
    </a>

    <p class="text-sm text-base-content/50">Безкоштовно · Без реклами</p>
    <p class="text-sm text-base-content/50">
      Зроблено з
      <span class="text-secondary">любов'ю</span>
      для моєї дружини Тетяни <span class="text-secondary">♥</span>
    </p>

    <!-- developed by developer section -->
    <p class="text-sm text-base-content/50">
      Developed by
      <a
        href="https://github.com/v-olishynskyi"
        target="_blank"
        rel="noopener noreferrer"
        /* text-link */
        class="text-primary hover:text-primary-focus hover:underline"
        >V. Olishynskyi</a
      >
    </p>
  </div>
</footer>
